GWnrYjvjw8aLfnM1-Rag-Pipeline-and-Chatbot.json
{
  "name": "Rag Pipeline and Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tTXxeh4xgZgFMkI359xZBT8n3fqwI2ll",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tTXxeh4xgZgFMkI359xZBT8n3fqwI2ll"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9b54c7e8-2d22-4f73-ab29-6a00a15699ee",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klt6ivKhN3Z2dLmk",
          "name": "skurra.rag@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "eed370f0-7464-4ddf-b758-58acc559d742",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klt6ivKhN3Z2dLmk",
          "name": "skurra.rag@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "AI works"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "e6b71566-4510-4cfb-80ca-cfbb880fc953",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "D5nWGFIqNHBikqXb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        220
      ],
      "id": "7656c2e6-3f8b-4c43-be8f-33f40a5cbae6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rHogeCrze69tuvJq",
          "name": "Demo1 cred"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        680,
        220
      ],
      "id": "6d460e15-9117-424b-9eaf-cc45303fd41d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        780,
        440
      ],
      "id": "d760e5f1-6980-4dae-a210-1ae1c3ca8fab",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ],
      "id": "cce6adf1-c0fa-4bab-bb2b-8e86592e64f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        940,
        0
      ],
      "id": "8a35cbbe-9c6b-4725-9d6a-332421ca58c8",
      "name": "When chat message received",
      "webhookId": "62f6eb52-cf15-445f-bd77-7685b1b1e130"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1220,
        220
      ],
      "id": "6778b999-b4bb-4171-a937-96c565a03ab6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "b2fddgfmtQ1Xa2mZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "Call this tool AI works database",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "AI works"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1440,
        320
      ],
      "id": "44743d9d-4d09-412e-a008-e3871353e1e6",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "D5nWGFIqNHBikqXb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1540,
        540
      ],
      "id": "f4c11e53-96b7-48ad-8851-2bd9ff30475a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "rHogeCrze69tuvJq",
          "name": "Demo1 cred"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}